.top{
    background: #161616;
    border-radius: 20px;
    padding-left: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    align-items: center;
}
section.img{
    width: 581px;
    height: 613px;
}
h1{
    font-size: 5em;
}
p{
    font-size: 1.5em;
}
.button{
    text-decoration: none;
    font-size: 26px;
    font-weight: 800;
    color: white;
    border: 2px solid red;
    background-color: red;
    border-radius: 10px;
    padding: 25px 20px;
}
img{
    width: 581px;
    height: 613px;
}
.flags{

}
/* side-menu */

.side{
    display: grid;
    align-self: center;
    padding-left: 60px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 312px;
    height: 312px;
}
.match{
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
    height: 65px;
    background-color: red;
}
.group{
    color: black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
    height: 65px;
}
.blog{
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 254px;
    height: 65px;
}
/* flags sections */
.full-summary{
    display: flex;
    justify-content: flex-end;
}
.flags {
    display: grid;
    justify-items: center;
    margin: 10px;
    padding-top: 10px;
    border: 1px solid #ddd8d8;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}
.flags img{
    width: 90px;
    height: 55px;
}
.flag span{
    font-size: 16px;
}
/* footer sections */
footer{
    background-color: black;
    display: grid;
    justify-items: center;
    width: 1882px;
    height: 440px;
    margin-top: 100px;
}
.goal{
    color: white;
    text-align: center;
    padding-top: 60px;
}
hr{
    width: 1400px;
    border: 1px solid rgb(58, 57, 57);
}
.last-line{
    color: white;
    display: flex;;
}